<link rel="stylesheet" href="/css/createIssue.css" />
<body>
  <div id="form-container">
    <div id="add-project">
      <div id="form-header">
          <button id="close-button" onclick="closeForm()">X</button>
          <h2>Add Issue</h2><hr>
      </div>
      <form action="/issues/create" method="post">
        <!-- Issue Title input -->
        <div class="row">
          <div class="col-3">
            <label class="form-label" for="title">Title</label>
          </div>
          <div class="col-8">
            <input type="text" id="issue-title" class="form-control" name="issueTitle" />
            <input name="project" value="<%=project._id%>" hidden/>        
          </div>
        </div>

        <!-- Description input -->
        <div class="row">
          <div class="col-3">
            <label class="form-label" for="description">Description</label>
          </div>
          <div class="col-8">
            <textarea class="form-control" id="issue-description" rows="4" name="description"></textarea>
          </div>
        </div>


        <div class="row">
          <div class="col-3" id="label-input-checkbox">
            <label class="form-label" for="description">Label</label>
          </div>
          <div class="col-6">
            <div class="labels" id="label-span">
            </div>
          </div>
          <div class="col-2">
              <div class="dropdown dropup">
                <button class="btn btn-info dropdown-toggle  btn-sm" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  Labels
                </button>
                <ul id="label-group" class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <% for (label of project.labels) {%> 
                   <li><a href="#" onclick="addLabelToSpan('<%= label %>')" class="dropdown-item"><%= label %></a></li>
                  <%}%>
                  <li><input type="text" class="form-control" id="label-issue" placeholder="Add New Label" onkeyup="newLabel()"></li>
                  <li><button class="btn btn-primary btn-sm from-control" style="width: 100%;" onclick="addNewLabel('<%= project._id %>')">Add Label</button></li>
                </ul>
              </div>
          </div>
        </div>

        <!-- Author input -->
        <div class="row">
          <div class="col-3">
            <label class="form-label" for="form4Example2">Author</label>
          </div>
          <div class="col-8">
            <input type="text" id="issue-author" class="form-control" name="author"/>
          </div>
        </div>




        <!-- Submit button -->
        <div class="row">
          <div class="col-3">
          </div>
          <div class="col-8">
            <button type="submit" class="btn btn-primary float-end">Create </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="/js/createIssue.js"></script>
</body>
