<link rel="stylesheet" href="/css/createProject.css" >

<body>
  <div id="form-container">
    <div id="add-project">
      <div id="form-header">
          <button id="close-button" onclick="closeForm()">X</button>
          <h2>Add Project</h2><hr>
      </div>
      <form action="/projects/create" method="post">
        <!-- Project Title input -->
        <div class="row">
          <div class="col-3">
            <label class="form-label" for="title">Title</label>
          </div>
          <div class="col-8">
            <input type="text" id="project-title" class="form-control" name="projectTitle" />
          </div>
        </div>

        <!-- Description input -->
        <div class="row">
          <div class="col-3">
            <label class="form-label" for="description">Description</label>
          </div>
          <div class="col-8">
            <textarea class="form-control" id="project-description" rows="4" name="description"></textarea>
          </div>
        </div>

        <!-- Author input -->
        <div class="row">
          <div class="col-3">
            <label class="form-label" for="form4Example2">Author</label>
          </div>
          <div class="col-8">
            <input type="text" id="project-author" class="form-control" name="author" />
          </div>
        </div>




        <!-- Submit button -->
        <div class="row">
          <div class="col-3">
          </div>
          <div class="col-8">
            <button type="submit" class="btn btn-primary float-end">Create </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <script>
    // js for closing form
    function closeForm(){
      document.getElementById("form-container").style.height = "0";
      document.getElementById("form-container").style.width = "0";
    }
  </script>
</body>