<link rel="stylesheet" href="/createProject.css" />
<body>
    <form id="form-container" action="/project/create" method="post">
      <div class="form-outline mb-2">
        <input type="text" name="name" class="form-control" placeholder="Project Name" />
      </div>
      <div class="form-outline mb-2">
        <input type="text" name="description" class="form-control" placeholder="Description:" />
      </div>
      <div class="form-outline mb-2">
        <input type="text" name="Author" class="form-control" placeholder="Author" />
      </div>

      <!-- Submit button -->
      <button type="submit" class="btn btn-primary btn-block mb-4 float-end" >
        Create Project
      </button>
    </form>
</body>