
<!-- header as partial -->
<header>
    <link rel="stylesheet" href="/css/header.css">
    <nav>
        <a href="/">
            <div id="brand-name">
                <div id="logo">
                        <img src="/images/logo.png" alt="brand-logo" />
                </div>
                <div id="brand-title">
                    <h2 class="animate-charcter"><span style="font-size: xxx-large;">D</span>EBUGGER</h2>
                </div>  
            </div>
        </a>
    </nav>
</header>