<body>
<form>
  <!-- Title input -->
  <div class="form-outline mb-4">
    <input type="text" id="issue-title" class="form-control" />
    <label class="form-label" for="title">Title</label>
  </div>

  <!-- Issue author input -->
  <div class="form-outline mb-4">
    <input type="text" id="issue-author" class="form-control" />
    <label class="form-label" for="form4Example2">Author</label>
  </div>
  <!-- Issue labels input -->
  <div class="form-outline mb-4">
    <input type="text" id="labels" class="form-control" />
    <label class="form-label" for="issue-label">Title</label>
  </div>

  <!-- Description input -->
  <div class="form-outline mb-4">
    <textarea class="form-control" id="issue-description" rows="4"></textarea>
    <label class="form-label" for="description">Description</label>
  </div>



  <!-- Submit button -->
  <button type="submit" class="btn btn-warning btn-block mb-4">Create</button>
</form>
</body>