<body>
<div id="main-container">
<div id="project-details">
<h2> Title : <%=project.projectTitle %></h2>
<h6>  Description: <%=project.description %></h6>
<h6> Author : <%=project.author %></h6>

</div>


</div>

<%- include('_createIssue.ejs')%>
</body>