#filter-container {
  display: flex;
  justify-content: space-between;
  background: #567ec3d9;
  padding: 5px;
  #filter-label-spans {
    flex: auto;
    span {
      font-size: 11px;
      color: white;
      padding: 5px;
      border-radius: 14px;
    }
    span:nth-child(1) {
      background: blue;
    }
    span:nth-of-type(2) {
      background: red;
    }
    span:nth-of-type(3) {
      background: green;
    }
    span:nth-of-type(4) {
      background: purple;
    }
  }
  #dropdown-filter-labels {
    margin: 0 10px;
  }
  .filter-search {
    margin: 0 10px;
    position: relative;
    button {
      background: #42a0ce;
      border: none;
      position: absolute;
      top: 0px;
      right: 0;
      color: whitesmoke;
      border-radius: 4px;
      height: 100%;
    }
  }
}
