@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap");
#form-container {
  position: fixed;
  width: 100%;
  text-align: -webkit-center;
  height: 0;
  width: 0;
  overflow: hidden;
  z-index: 88;
  top: 20%;
  transition: ease-in-out 0.5s; }
  #form-container #add-project {
    max-width: 700px;
    background: floralwhite;
    padding: 5px;
    border: solid lightblue;
    border-radius: 14px;
    text-align: start; }
    #form-container #add-project #form-header button {
      float: right;
      color: gray;
      border: none;
      background: none;
      font-size: x-large;
      transition: ease-in-out 0.1s; }
    #form-container #add-project #form-header button:hover {
      color: red;
      transform: scale(0.8); }
    #form-container #add-project #form-header h2 {
      margin-left: 25px;
      color: cadetblue;
      font-weight: bold; }
    #form-container #add-project form {
      margin: 10px; }
      #form-container #add-project form div {
        font-family: "Roboto Mono", monospace;
        margin: 5px; }
        #form-container #add-project form div div .labels span {
          font-size: smaller;
          color: white;
          padding: 5px;
          border-radius: 14px; }
        #form-container #add-project form div div .labels span:nth-child(1) {
          background: blue; }
        #form-container #add-project form div div .labels span:nth-of-type(2) {
          background: red; }
        #form-container #add-project form div div .labels span:nth-of-type(3) {
          background: green; }
        #form-container #add-project form div div .labels span:nth-of-type(4) {
          background: purple; }
        #form-container #add-project form div div label {
          color: black;
          font-size: larger; }
