@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap");
#form-container form div {
  font-family: 'Roboto Mono',monospace;
  display: flex;
  margin: 5px; }
  #form-container form div input {
    width: auto; }
  #form-container form div label {
    color: black; }
